p {
    color: red;
    width: 500px;
    border: 1px solid black;
}
html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: http://fonts.googleapis.com/css?family=Open+Sans;
}
h1 {
  font-size: 60px;
  text-align: center;
}